<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="RabbitMQ Wrapper Test">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <const name="TEST_HOST" value="localhost"/>
        <const name="TEST_PORT" value="5672"/>
        <const name="TEST_USERNAME" value="guest"/>
        <const name="TEST_PASSWORD" value="guest"/>
        <const name="TEST_QUEUE_TITLE" value="test_rabbit_mq_queue"/>
        <const name="TEST_QUEUE_MESSAGE" value="test"/>
    </php>
</phpunit>